.sortPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 68px;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  @media (max-width: $laptop) {
    padding-inline: 40px;
  }

  @media (max-width: $tablet) {
    padding-inline: 0;
  }
}

.select {
  @media (max-width: $tablet) {
    margin-left: 20px;
  }
}
