:root {
  /* FONT */
  --font-family: 'Proxima Nova', 'Roboto', system-ui, 'Tahoma', sans-serif;

  /* COLORS */
  --color-black: #232323;
  --color-background: #fcd36a;
  --color-gray-line: #f6f6f6;
  --color-orange: #fe5f1e;
  --color-primary: #fe461e;

  /* OTHERS */
  --border-radius: 6px;
}
