:root {
  /* FONT */
  --font-family: 'Inter', sans-serif;

  /* COLORS */
  --color-background-gray: #f3f4f6;
  --color-text-gray: #4d5562;
  --color-white: #fff;
  --color-black: #000;
  --color-active: #5d5fef;
  --color-border: #e2e3e5;

  /* OTHERS */
  --border-radius: 6px;
}
